.container-about {
    height: 100%;
    padding-bottom: 1rem;

}

.about-header {
    padding: 10px;
    text-align: center;
    background-color: #393E46;
    color: white;

}

.about-header h1 {
    font-size: 5rem;
    letter-spacing: 5px;
}

.about-header h3 {
    letter-spacing: 2px;
    font-weight: 300;
    padding: 20px;
}

.about-introduction {
    text-align: center;
    margin: 20px 0%;
}




.about-body {
    height: auto;
    padding: 0px 100px;
    margin: 0% 10%;
}

.certificates {
    margin: 5rem 0px;   

}

.certtitle {
    font-size: 34px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.certtitle h3 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  
  .certtitle p {
    font-size: 20px;
    padding-bottom: 50px;
  
  }
  
  .certificates::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers (Safari, Chrome) */
}

.logo-container {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0% -10%;
}

.logo {
    max-width: 300px;
    height: auto;
    margin: 2%;
    cursor: pointer;
    box-shadow: 2px 22px 48px 11px rgba(57,62,70,0.94);
    border-radius: 50%;
    transition: 0.6s all;
}

.logo:hover{
    transform: translateY(-20px);
    box-shadow: 2px 22px 48px 11px rgba(109,152,134,0.96) ;
    transition: all 0.6s ease-in-out;
    border-radius: 0%;
}

@media (max-width: 1239px) {

    .logo-container {
        flex-wrap: wrap;
        margin: 0%;
        margin-bottom: 100px;
    }



}

@media (max-width: 900px) {
    .about-header h1{
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .about-header h3 {
        font-weight: 0;
    }

    .about-body {
        height: auto;
        padding: 0%;
    }

    .logo img{
        max-width: 70px;
        margin: 5% 2%;
    }
}



