.container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
}

.container-left {
    line-height: 60px;
    padding-bottom: 5rem;
    margin: 0% 2rem;
}

.container-left h3 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.container-left h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

.container-left p {
    font-size: 2rem;
}

.container-left button {
    padding: 10px 100px;
    border: 0px none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: transform 0.3s ease 0s;
}

.container-left button:hover {
    color: black;
    background-color: #fff;
    border: 2px solid black;
    transform: translateY(-10px);
}

.container-left {
    font-size: 30px;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: left;
}

.icons ul {
    padding-top: 1.5rem;
    display: flex;

}

.icons ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2.5rem;
}

.icons ul li a {
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.icons ul li a:hover {
    transform: translateY(-15px);
}

.container-right {
    text-align: left;
    padding-bottom: 200px;
    margin: 0% 2rem;
}

@media (max-width:900px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .container-right {
        order: -1;
    }

    .icons {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    

    .icons ul {
        text-align: center;
        padding-top: 3rem;
    }

    .icons ul li {
        list-style: none;
        display: flex;
    }

    .container-left {
        line-height: 60px;
        padding-bottom: 5rem;
        margin: 0;
        padding: 0;
    }


    .container-right {
        text-align: center;
        padding-bottom: 200px;
        margin: 0;
        padding: 0;
    }
}
