.container {
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E7D5;
}

.container-left {
    line-height: 65px;
    padding-bottom: 5rem;
    margin: 0% 2rem;
    font-size: 30px;

}

.container-left h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    
}

.container-left h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

.animated-text {   
    font-size: 2rem;
    min-width: 280px;
    
}

.container-left span {
    position: relative;   
    letter-spacing: 2px; 
    font-weight: 700;
}

.container-left span::before {
    content: "Software Engineer";
    color: green;
    animation: words 20s infinite;
}

.container-left span::after {
    content: "";
    position: absolute;
    top: 0px;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #F2E7D5;
    border-left: 3px solid green;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #ff7f5000 ;
    }
}

@keyframes words {
    0%, 20% {
        content: "Software Engineer" ;
    }
    21%, 40% {
        content: "Front-End Developer" ;
    }
    41%, 60% {
        content: "Backend Developer" ;
    }
    61%, 80% {
        content: "Mobile Developer" ;
    }
    81%, 100% {
        content: "Full-Stack Developer" ;
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}


.container-left button {
    padding: 10px 100px;
    border: 0px none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #6D9886;
    color: white;
    transition: transform 0.3s ease 0s;
    
}

.container-left button:hover {
    color: black;
    background-color: #fff;
    border: 2px solid black;
    transform: translateY(-10px);
    box-shadow: 4px 16px 24px -7px rgba(0, 0, 0, 1)
}


.icons {
    width: 100%;
    display: flex;
    justify-content: left;
}

.icons ul {
    padding-top: 1.5rem;
    display: flex;

}

.icons ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2.5rem;
}

.icons ul li a {
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.icons ul li a:hover {
    transform: translateY(-15px);
    
}

.container-right {
    text-align: center;
    margin: 1rem 3rem;
    padding-bottom: 100px;
}

.container-right img {
    margin-top: 20px;
    background-position: 50%;
    border: 3px solid white;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    box-shadow: 0 0 35px rgba(218,20,255, 1);
    animation: suguoni 8s ease-in-out infinite;
}

@keyframes suguoni {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;

    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;

    }
}


@media (max-width:1350px) {
    .animated-text {   
        font-size: 1.5rem;
        min-width: 100px;
    }
}

@media (max-width:900px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 0;
        height: auto;
    }

    .container-right {
        order: -1;
    }

    .icons {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    

    .icons ul {
        text-align: center;
        padding-top: 3rem;
    }

    .icons ul li {
        list-style: none;
        display: flex;
    }

    .container-left {
        line-height: 60px;
        padding-bottom: 5rem;
        margin: 0;
        padding: 0;
    }


    .container-right {
        text-align: center;
        padding-bottom: 200px;
        margin: 0;
        padding: 0;
        padding-top: 30px;
    }

    .animated-text {   
        font-size: 1.5rem;
        min-width: 280px;
    }
}
