@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik+Scribble';
}

.App{
  background-color: #000;
  width: 100%;
  height: 100%;
}


.banner {
  width: 100%;
  height: 7vh;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.title {
  padding-left: 100px;
}

.title h1 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 50px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #4d4d4d;
}






/* home page */
.home {
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(7,7,15,1) 0%, rgba(67,34,89,1) 50%, rgba(6,18,17,1) 100%);
  color: #fff;
}

.lefthome {
  line-height: 3rem;
  padding-right: 20px;
}

.lefthome h1 {
  font-size: 60px;
}

.lefthome h3 {
  padding-top: 20px;
  font-size: 35px;
  letter-spacing: 2px;
}

.lefthome p {
  font-size: 24px;
}

.icons {
  padding-top: 15px;
}

.icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.icons li {
  margin-right: 50px;
}

.icons li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.icons li a:hover {
  color: rgba(67,34,89,1);
  font-size: 30px;
}

.righthome {
  padding-left: 50px;
  padding-bottom: 150px;
  position: relative;
}




.about {
  height: auto;
  color: #fff;
  padding: 5% 5%;
  margin: 0% 10%;
  background-color: #000;
}

.introabout {
  line-height: 2rem;
  text-align: center;
}

.introabout h2 {
  font-size: 64px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.introabout p {
  font-size: 20px;
  margin: 30px;
}


.timeline {
  width: 100%;
  padding: 35px 10%;
}
.timeline {
  padding-right: calc(10% - 20px);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.col header.title{
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
  padding: 0px 0px 20px 30px;
  letter-spacing: 2px;
}

.col .contents {
  padding: 0px 30px;
  border-left: 2px solid #180707;
}

.col .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #1010;
  background: linear-gradient(90deg, rgba(7,7,15,1) 0%, rgba(67,34,89,1) 50%, rgba(6,18,17,1) 100%);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}

.col .contents .box:hover{
  box-shadow: 0px 3px 12px 0px #111;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background: linear-gradient(90deg, rgba(7,7,15,1) 0%, rgba(67,34,89,1) 50%, rgba(6,18,17,1) 100%);
  border: 2px solid white;
}


.box h4 {
  position: relative;
  color: #5ac09e;
}

.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.box p {
  line-height: 1.2;
  color: #fff;
  font-size: 17px;
}


@media(max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }
  .row .col:nth-child(2){
    margin-top: 30px;
  }
}

.certificate {
  background-color: #111;
  text-align: center;
  color: white;
  padding: 5%;
  margin: 0% 10%;
}

.certtitle h3 {
  font-size: 30px;
  padding-bottom: 20px;
}

.certtitle p {
  font-size: 20px;
  padding-bottom: 20px;

}


.certcards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}